# Network Configuration
NETWORK=mainnet
ALGORAND_NODE_URL=https://mainnet-api.algonode.cloud
USDC_ASA_ID=31566704

# Application Variables
MAX_PILOT_TRANSACTIONS=20
MAX_SIMULATION_EVENTS=10000
MAX_CAPITAL_AT_RISK_USD=10
MAX_TOTAL_COST_USD=10
USDC_PER_SESSION=500000
ALGO_BOUNTY_PER_SESSION=500000
DEADLINE_ROUNDS_OFFSET=100
CONCURRENT_SESSIONS=1
ADVERSARIAL_INJECTION_RATE=0.20

# Account Mnemonics
BUYER_MNEMONIC="TODO"
SELLER_MNEMONIC="TODO"
ATTESTER_MNEMONICS='["TODO", "TODO", "TODO"]'
RELAYER_MNEMONIC="TODO"
DEPLOYER_MNEMONIC="TODO"
